<!--
  Generated template for the PlayerlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>playerlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Olá {{userName}}</h3>
  <h4 *ngIf='loadstatus == 0'>Buscando dados...</h4>
  <ion-card *ngIf='loadstatus == 3'>
    <ion-card-header>
      <h4>Seus personagens: </h4>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let i of dump">
        <h5>Personagem: {{dump.name}}</h5>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
